@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1e1e1e;
    color: #d4d4d4;
    font-family: 'Lexend Deca', sans-serif;
    width: 100%;
}
#actualcontent {
    position: absolute;
    top: 100%;
    left: 10%;
    right: 10%;
    text-align: center;
}
#cornerlogo {
    position: absolute;
    top: 10px;
    left: 10px;
}
/*navigation*/
nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 65px;
    background-color: rgba(37, 37, 37, 0.5);
}
ul {
    margin-left: 65px;
}
ul li {
    list-style: none;
    float: left;
    line-height: 65px;
}
ul li a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: #d4d4d4;
    padding: 0 20px;
    transition: background-color .25s ease-in-out;
}
ul li a:hover {
    background-color: #303030;
    color: #ffffff;
}
/*navigation end*/
/*arrow*/
#downarrow {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
    stroke-dasharray: 50px;
    stroke-dashoffset: 50px;
    opacity: 50%;
    animation: line-anim 1s ease forwards 1s;
    animation: fill 1s ease forwards 2s;
    transition: opacity .3s ease-in-out;
}
#downarrow:hover {
    opacity: 100%;
}
/*arrow end*/
/*at tables*/
table {
    margin-left: 50%;
    transform: translate(-50%);
}
th {
    text-align: center;
}
.e1 {
    color: #1e1e1e;
}
.admincolor {
    color: #F55;
}
.srmodcolor {
    color: #FA0;
}
.modcolor {
    color: #5F5;
}
.jrmodcolor {
    color: #5FF;
}
.helpercolor {
    color: #55F;
}
/*at tables end*/
