* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1e1e1e;
    color: #d4d4d4;
    font-family: 'Lexend Deca', sans-serif;
    width: 100%;
}
/*at tables*/
table {
    margin-left: 50%;
    transform: translate(-50%);
}
th {
    text-align: center;
}
.e1 {
    color: #1e1e1e;
}
.admincolor {
    color: #F55;
}
.srmodcolor {
    color: #FA0;
}
.modcolor {
    color: #5F5;
}
.jrmodcolor {
    color: #5FF;
}
.helpercolor {
    color: #55F;
}
/*at tables end*/